/* Estilos para telas menores (até 768px) */
@media (max-width: 768px) {
  header {
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    display: none; /* Garante que o header não apareça em telas pequenas */
  }

  .logo {
    position: relative;
    margin-bottom: 10px;
  }

  .nav-buttons {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .text-container {
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    max-width: 100%;
    overflow: hidden;
    word-wrap: break-word; /* Garante que os textos longos quebrem corretamente */
  }

  .right-image {
    max-width: 100%;
    position: relative;
    margin-top: 20px;
    object-fit: contain; /* Ajusta a imagem para que não ultrapasse os limites */
  }

  .container_mouse {
    display: none;
  }

  .paginaprojetos {
    padding: 20px;
    overflow: hidden;
  }

  .projetos-container {
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }

  .projeto-quadrado {
    width: 90%;
    margin-bottom: 20px;
    max-width: 100%; /* Impede que ultrapasse a tela */
  }

  .mosaic-container {
    grid-template-columns: repeat(2, 1fr);
    padding-left: 0;
  }

  .mosaic-item {
    width: 80px;
    height: 80px;
  }

  .custom-button {
    width: 80px;
    height: 80px;
  }

  .button-icon {
    width: 80px;
  }
}
